@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: "kulitan";
	src: url("../../public/fonts/kulitan-font.otf");
}

@font-face {
	font-family: "noland";
	src: url("../../public/fonts/noland-font.otf");
}
@font-face {
	font-family: "kafeine";
	src: url("../../public/fonts/kafeine.ttf");
}

@font-face {
	font-family: "coolvetica";
	src: url("../../public/fonts/coolvetica.otf");
}

@font-face {
	font-family: "blackout2am";
	src: url("../../public/fonts/blackout2am.ttf");
}

@font-face {
	font-family: "blackoutmid";
	src: url("../../public/fonts/blackoutmid.ttf");
}

@font-face {
	font-family: "blackoutsun";
	src: url("../../public/fonts/blackoutsun.ttf");
	
}

@font-face {
	font-family: "blackouttwoam";
	src: url("../../public/fonts/blackouttwoam.ttf");
}

@font-face {
	font-family: "ls1";
	src: url("../../public/fonts/LS1.otf");
}

@font-face {
	font-family: "ls2";
	src: url("../../public/fonts/LS2.otf");
}

@font-face {
	font-family: "ls3";
	src: url("../../public/fonts/LS3.otf");
}

@font-face {
	font-family: "ls4";
	src: url("../../public/fonts/LS4.otf");
}

@font-face {
	font-family: "ls5";
	src: url("../../public/fonts/LS5.otf");
}

@font-face {
	font-family: "ls6";
	src: url("../../public/fonts/LS6.otf");
}

@font-face {
	font-family: "ls7";
	src: url("../../public/fonts/LS7.otf");
}

@font-face {
	font-family: "ls8";
	src: url("../../public/fonts/LS8.otf");
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.transcribe-bg {
	background-image: url("../shared/images/transcribe-bg.png");
}

.text-shadow {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-stroke {
	stroke: white;
}

.horizontal-textarea {
	border: 1px solid #ccc;
	width: 100%; /* Adjust the width as needed */
	min-height: 8em;
	padding: 8px;
	font-family: Arial, sans-serif;
	overflow: auto;
	white-space: nowrap; /* Prevent text from wrapping to the next line */
	direction: rtl; /* Right-to-left text direction */
}

/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #001C30;
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001C30;
}

/* Apply CSS Reset for Resetting Default Margin/Padding */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  
  /* Style the Title Headers */
  .title {
	text-align: center;
	margin-top: 20px;
	color: #333;
  }
  
  
  /* Style the Styled Buttons with Neomorphism */
.styled-button {
	background-color: #ffffff; /* Light background color */
	color: #333; /* Text color */
	border: none;
	padding: 10px 15px;
	font-size: 20px; /* Increase font size for button text */
	text-align: center;
	border-radius: 10px; /* Increase border radius for a softer look */
	cursor: pointer;
	transition: box-shadow 0.3s, background-color 0.3s;
	box-shadow: 5px 5px 15px #a8d9ff; /* Neomorphic box shadow */
  }
  
  .styled-button:hover {
	color: white;
	background-color: #212A3E; /* Lighter background color on hover */
	
  }
  
  
  /* Style the Font-Kulitan */
  .font-kulitan {
	font-size: 24px; /* Increase font size for font-kulitan text */
  }
  
  /* Add Media Query for Responsiveness */
  @media screen and (max-width: 768px) {
	.container {
	  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust column width for smaller screens */
	}
  }
  
/* Style the Container for Buttons */
.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 4 columns, auto-fill */
	gap: 10px;
	justify-content: center;
	margin: 20px auto;
	max-width: 800px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

/*title*/
.title {
	font-family: "kafeine";
	font-size: 50px;
	color: #161A30;
  }

.quiz {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.qzbtn {
    background-color: #ffffff; /* Set your desired background color */
    color: #1c1c1c; /* Set the text color */
    padding: 15px; /* Adjust padding as needed */
    font-size: 70px; /* Set the font size */
    border: none;
    width: 500px; /* Set a fixed width for all buttons */
    height: 200px;
    border-radius: 2px; /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease 0.1s; /* Add smooth transition effects with a slight delay */
    margin: 10px;
    border-bottom: 5px solid #151515;
}

/* Hover effect */
.qzbtn:hover {
    color: white;
    background-color: #2980b9; /* Change background color on hover */
    transform: scale(1.1); /* Add a bounce effect on hover */
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .quiz {
        flex-direction: column; /* Stack items vertically on small screens */
    }

    .qzbtn {
        font-size: 40px;
        width: 300px; /* Set full width for buttons on small screens */
        height: 150px;
        margin: 10px 0; /* Adjust margin to separate buttons */
    }
}

/* General styling */
.Label1 {
	color: #ffffff;
	font-family: 'ls4';
	font-size: 15px;
  }

  
 /* Media query for smaller screens */
@media (max-width: 767px) {
    .Label1 {
		margin-top: 10px;
		margin-bottom: 10px;
        font-size: 20px;
    }
}

.navbar{
	font-family: "kafeine";
	font-size: 25px;
}

.pagetitle{
	font-family: "kafeine";
	font-size: 80px;
	color: #212A3E;
}

@media (max-width: 800px) {
    .pagetitle {
		text-align: center;
        font-size: 70px;
    }
}

/* Object Detection Wrapper */
.object-detection-wrapper {
	position: relative;
	max-width: 680px;
	margin: auto;
  }
  
  /* Video Canvas Wrapper with Margin */
  .video-canvas-wrapper {
	position: relative;
	margin: 20px; /* Adjust the margin value as needed */
	background-color: #001C30;;
	border: 10px solid #001C30;;
	border-radius: 10px;
  }

  
  /* Detection Video */
  .detection-video {
	width: 100%;
	height: 100%;
	border-radius: 10px;
  }

  
  /* Detection Canvas */
  .detection-canvas {
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .object-detection-wrapper {
	text-align: center;
  }
  
  .imagepreview{
	display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin-top as needed */
  }
/* Define the keyframes for the spinner animation */
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
.resultbg{
	background-color: #263c44;
	border-radius: 0px 0px 10px 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
}
.resultsdp{
	font-family: 'kafeine';
	font-size: 25px;
	width: 50%;
	border-radius: 10px 10px 0px 0px;
	margin-left: auto;
	margin-right: auto;
	
	
	background-color: #000f17;
}

@media (max-width: 800px) {
    .resultsdp {
		font-size: 20px;
    }
}

.imgprev {
	border-radius: 10px;
	transition: transform 0.3s ease;
  }
  
  .imgprev:hover {
	transform: rotate(10deg);
  }
  

.delete-button{
	font-family: 'kafeine';
	margin: 10px;
	background-color: #ff4747;
	border-radius: 5px;
	width: 100px;
	height: 40px;
}

.delete-button:hover{
	background-color: #8f0808;
}

.result-text {
    font-family: 'ls4';
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    
    animation: typing 3s steps(40);
}

@media (max-width: 800px) {
    .result-text {
        font-size: 20px;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

  .loading-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
  }
  
  .loading-bar p {
	margin-bottom: 10px; 
  }
  

  .loading-spinner {
	border: 6px solid #ffffff;
	border-top: 4px solid #011320;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite; 
  }
  
  .file-upload{
	background-color: #001C30;
	border: 5px solid #001C30;
	border-radius: 5px;
	padding: 2px;
	font-size: 15px;
  }

  .file-upload::-webkit-file-upload-button {
    background-image: linear-gradient(55deg, indigo, rgb(117, 37, 197), violet, indigo, rgb(22, 145, 186));
    background-size: 300% 300%;
    color: #f2f2f2;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-position 0.5s;
}

.file-upload::-webkit-file-upload-button:hover {
    background-position: 100% 0;
}

  


  /* global.css */

  .qcss {
	margin-left: auto;
	margin-right: auto;
	width: 310px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border: 2px solid #333;
	border-radius: 10px;
	text-align: center;
}

@media (max-width: 800px) {
    .qcss {
        flex-direction: column; /* Stack items vertically on small screens */
		width: 330px;
	height: 250px;
    }
}
.qcss h2 {
	font-size: 150px;
	color: #093041;
	font-family: 'kulitan', sans-serif;
	animation: floatAnimation 2s ease-in-out infinite alternate;
}
@media (max-width: 800px) {
    .qcss h2 {
        font-size: 120px;
		
}
}
@keyframes floatAnimation {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-20px);
	}
}

  
  .qcont {
	width: 80%; 
	max-width: 800px; 
	max-height: 600px ;
	margin: 0 auto;
	align-items: center;
	background-color: #ffffff; 
	border: 2px solid #333; 
	border-radius: 10px; 	
	text-align: center;
	padding: 20px; 	
  }

  @media (max-width: 800px) {
    .qcont {
        max-height: 650px;
		
}
}
 
  .button-choice {
	color: #000f17;
	background-color: #ffffff;
	height: 50px;
	border-radius: 10px; /* Increased border-radius for a softer look */
	font-size: larger;
	font-family: "coolvetica";

	box-shadow: 5px 5px 10px #a8d9ff, -5px -5px 10px rgba(255, 255, 255, 0.5); /* Box shadow for neumorphic effect */
	transition: transform 0.1s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .button-choice:hover {
	color: white;
	background-color: #1e6b9f;
	transform: translateY(-5px);
	box-shadow: 8px 8px 15px #a8d9ff, -8px -8px 15px rgba(255, 255, 255, 0.8);
  }
  
  .button-choice.clicked {
	color: white;
	background-color: #ffa913;
	border-bottom: 2px solid #ffffff; /* White border for the light source */
	position: relative;
	overflow: hidden;
  }
  
  .button-choice.clicked::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent); /* Adjust gradient colors and direction as needed */
	animation: waveAnimation 2s linear infinite;
  }
  
  @keyframes waveAnimation {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(100%);
	}
  }
  

.loading{
	color: #000f17;
	font-family: "kafeine";
	font-size: 20px;
}

  .answerdp{
	margin-left: auto;
	margin-right: auto;
	background-color: #151515;
	border-radius: 20px;
	width: 200px;
	color: #ffffff;
	font-family: "coolvetica";
	font-size: x-large;
	
  }

/* Add this to your existing CSS or create a new CSS file */
.progress-bar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
  }
  
  .progress-bar {
	width: 100%;
	background-color: #ccc;
	height: 8px;
	border-radius: 4px;
  }
  
  .progress-bar-fill {
	height: 100%;
	background-color: #4caf50;
	border-radius: 4px;
  }
  
  
.levelcont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Optional: Set a height to center vertically within the viewport */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}


.levelbtn2 button{
	background-color: #ffffff; /* Set your desired background color */
    color: #1c1c1c; /* Set the text color */
    padding: 15px; /* Adjust padding as needed */
    font-size: 70px; /* Set the font size */
    border: none;
    width: 350px; /* Set a fixed width for all buttons */
    height: 250px;
    border-radius: 10px; /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease 0.1s; /* Add smooth transition effects with a slight delay */
    margin: 20px;
    border-bottom: 5px solid #151515;
}

.levelbtn2 button:hover {
    color: white;
    background-image: linear-gradient(45deg, #3498db, #db33bc); /* Gradient color on hover */
    transform: scale(1.1);
    transition: background-image 0.3s ease, transform 0.3s ease; /* Add animation effect */
}


.levelbtn button,
.levelbtn3 button {
    background-color: #ffffff; /* Set your desired background color */
    color: #1c1c1c; /* Set the text color */
    padding: 15px; /* Adjust padding as needed */
    font-size: 70px; /* Set the font size */
    border: none;
    width: 250px; /* Set a fixed width for all buttons */
    height: 200px;
    border-radius: 10px; /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease 0.1s; /* Add smooth transition effects with a slight delay */
    margin: 20px;
    border-bottom: 5px solid #151515;
}

.levelbtn button:hover{
	color: white;
    background-color: #2980b9; /* Change background color on hover */
    transform: scale(1.1); /* Add a bounce effect on hover */
}
.levelbtn3 button:hover {
    color: white;
    background-color: #ff5656; /* Change background color on hover */
    transform: scale(1.1); /* Add a bounce effect on hover */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .levelcont {
        flex-direction: column; /* Stack items vertically on small screens */
    }

    .levelbtn button,
    .levelbtn2 button,
    .levelbtn3 button {
        font-size: 30px;
        width: 250px; /* Set full width for buttons on small screens */
        height: 90px;
        margin: 10px 0; /* Adjust margin to separate buttons */
    }
}

.card1{
	color: white;
}

.card1:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

.nextbtn {
	font-family: "kafeine";
	font-size: 20px;
	margin-top: 20px;
	background-color: #053852;
	border-radius: 5px;
	width: 100px;
	height: 50px;
	position: relative;
	overflow: hidden;
  }
  
  .nextbtn::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
	animation: swipe 3s infinite linear;
  }
  
  .nextbtn:hover::before {
	animation-play-state: paused;
  }
  
  @keyframes swipe {
	0% {
	  left: -100%;
	}
	100% {
	  left: 100%;
	}
  }
  
  .nextbtn:hover {
	background-color: rgb(0, 22, 44);
  }
  

  .quizcomplete {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
	height: 620px;
    margin: 0 auto;
}

.donetitle {
    font-family: "kafeine";
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.donescore {
    font-family: "ls3";
    font-size: 30px;
    color: #555;
    margin-top: 10px;
}

.restartbtn {
	font-family: "kafeine";
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0;
    animation: fadeIn 1s ease forwards 2s;
	border-bottom:3px solid #000f17;
	margin-right: 5px;
}

.restartbtn:hover {
    background-color: #ffa913;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lottie-animation {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 800px) {
    .quizcomplete {
        padding: 10px;
        max-width: 90%;
		height: 550px;
    }

    .donetitle {
        font-size: 30px;
    }

    .donescore {
        font-size: 20px;
    }

    .restartbtn {
		width: 130px;
		height: 60px;
        padding: 8px 16px;
    }
	.stage2btn{
		width: 80px;
		height: 60px;
		padding: 8px 16px;
	}
}

  .stage2btn{
	font-family: "kafeine";
    color: #ffffff;
	background-color: #064772;
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 3px solid #000f17;
	margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
	opacity: 0;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease forwards 2s;
  }

  .stage2btn:hover{
	background-color:#ffa913;
  }

.sidenote{
	align-items: center;
	text-align: center;
	margin: 10px;
}

.note{
	color: #000f17;
	font-family: "ls6";
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
	.note{
		font-size: 16px;
		margin: 10px;
	}
}

.learn-content{
	margin: auto;
}

.titlehistory {
    font-family: 'kafeine';
	background-color: #001a1d;
    font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
    color: #fdfdfd;
	border-radius: 20px;
    text-align: center;
}


@media (max-width: 800px) {

    .titlehistory {
        font-size: 20px;
		border-radius: 10px;
        margin-left: 5px;
		margin-right: 5px;
    }
}

.contentsbg {
    background-color: white;
    color: #000f17;
    max-width: 1000px;
    margin: auto;
	border-radius: 10px;
    padding: 20px; /* Add padding for better spacing */
	box-shadow: 5px 5px 10px #a8d9ff;
}

.htrcontents {
    text-align: justify;
}

/* Responsive styles for smaller screens */
@media (max-width: 800px) {
    .contentsbg {
        width: 90%;
    }
}

.historypng{
	margin: auto;
	border-radius: 10px;
}

.btnbg{
	height: 100px;
	margin: auto;
}

.btn-guide{
	font-family: 'kafeine';
	background-color: #0073a1; /* Set your desired background color */
    color: #ffffff; /* Set the text color */
    padding: 15px; /* Adjust padding as needed */
    font-size: 50px; /* Set the font size */
    border: none;
    width: 500px; /* Set a fixed width for all buttons */
    height: 200px;
    border-radius: 4px; /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease 0.1s; /* Add smooth transition effects with a slight delay */
    margin: 10px;
    border-bottom: 5px solid #151515;
}

.btn-guide:hover{
	color: white;
    background-color: #113750; /* Change background color on hover */
    transform: scale(1.1); /* Add a bounce effect on hover */
}
  
@media (max-width: 800px) {

    .btn-guide {
        font-size: 30px;
        width: 300px; /* Set full width for buttons on small screens */
        height: 150px;
        margin: 10px 0; /* Adjust margin to separate buttons */
    }
}

.spantxt{
	font-style: italic;
	font-size: 20px;
	text-align: center;
    display: block; /* Ensures the span behaves as a block-level element */
    width: 100%;
}

.spantxt2{
	font-style: italic;
	font-size: 18px;
	text-align: center;
	display: block;
}

.spantxt3{
	font-style: italic;
	font-size: 15px;
	text-align: center;
	display: block;
}

.spantxt4{
	color: #000f17;
	font-style: italic;
	font-size: 15px;
	text-align: center;
	display: block;
}

.linked{
	color: #ffb218;
	font-weight: bold;
	text-decoration: underline;
}


.gridbtn {
	background-color: white;
	border-radius: 5px;
	color: #000f17;
	font-family: 'ls2';
	position: relative;
	margin: auto;
	padding-bottom: 10px;
	width: 300px;
	border-bottom: 4px solid #000f17;
  }
  
  .dropdown-content {
	font-family: 'ls5';
	display: none;
	position: absolute;
	background-color: #ffffff;
	box-shadow: 5px 5px 10px #a8d9ff, -5px -5px 10px rgba(255, 255, 255, 0.5);
	padding: 10px;
	z-index: 1;
	min-width: 160px;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }
  
  .gridbtn:hover .dropdown-content {
	display: block;
	opacity: 1;
  }
  
  .dropdown-content a {
	display: block;
	padding: 8px 12px;
	text-decoration: none;
	color: #333;
	transition: background-color 0.3s;
  }
  
  .dropdown-content a:hover {
	color: white;
	font-family: 'ls6';
	background-color: #00212c;
  }
  
.icon{
	margin-left: 10px;
	margin-top: 10px
}

.bttcont{
	margin: auto;
}

.btt{
	color: #000f17;
	font-family: 'KAFEINE';
	font-size: 20px;
	cursor: pointer;
	text-decoration: underline 2px;
}

